<div class="lg-main-cont-cls">

    <div class="lg-glass-container">
        <!-- Left Side: Login Form -->
        <div class="lg-lft-cont-cls">
            <div class="lg-logo-cls">
                <div class="logo-cls">
                    <span>LiveChatApp</span>
                </div>
            </div>
            <div class="lg-main-cls">
                <div class="header-cls">
                    <div class="sign-newacc-cls active-cls" (click)="signInFn()">Sign in</div>
                </div>
                <div class="lg-cnt-cls">
                    <div class="inp-cnt-cls" [ngClass]="{ 'focused': isEmailFocused, 'has-error': emptyEmail || invalidEmail }">
                        <i class="fa fa-envelope-o common-icon-cls"></i>
                        <input type="text" placeholder="E-mail" [(ngModel)]="strEmail" (input)="emailOnChange()"
                            (keydown.enter)="emailInput(pswdInp)" (focus)="isEmailFocused = true"
                            (blur)="isEmailFocused = false" autocomplete="username">
                    </div>
                    @if(emptyEmail){
                    <div class="error-cls fade-in">
                        <i class="fa fa-exclamation-circle error-icon-cls"></i>
                        <span>Email is required.</span>
                    </div>
                    }
                    @if(invalidEmail){
                    <div class="error-cls fade-in">
                        <i class="fa fa-exclamation-circle error-icon-cls"></i>
                        <span>Invalid email.</span>
                    </div>
                    }
                    <div class="inp-cnt-cls" [ngClass]="{ 'focused': isPasswordFocused, 'has-error': emptyPassword }">
                        <i class="fa fa-lock common-icon-cls"></i>
                        <input [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Password"
                            [(ngModel)]="strPassword" (input)="passwordOnChange()" (keydown.enter)="loginFn()"
                            (focus)="isPasswordFocused = true" (blur)="isPasswordFocused = false" #pswdInp autocomplete="current-password">
                        @if(isShowEyeVisible){
                        <i class="fa fa-eye common-icon-cls eye-icon-com-cls" style="cursor: pointer;"
                            (click)="togglePasswordVisibility()"></i>
                        }
                        @else {
                        <i class="fa fa-eye-slash common-icon-cls eye-icon-com-cls" style="cursor: pointer;"
                            (click)="togglePasswordVisibility()"></i>
                        }
                    </div>
                    @if(emptyPassword){
                    <div class="error-cls fade-in">
                        <i class="fa fa-exclamation-circle error-icon-cls"></i>
                        <span>Password is required.</span>
                    </div>
                    }
                    <div class="check-cnt-cls" style="display: flex;">
                        <input type="checkbox" id="rememberMe" style="vertical-align: middle;" [(ngModel)]="rememberMe">
                        <div class="common-checkbox-cont-cls">
                            <label for="rememberMe" class="common-checkbox-label-cls">Remember me</label>
                        </div>
                    </div>
                    <div class="login-cls ripple" (click)="loginFn()">Login</div>
                </div>
            </div>
        </div>

        <!-- Divider -->
        <div class="lg-sep-cls">
            <div class="sep-cls"></div>
        </div>

        <!-- Right Side: Info -->
        <div class="lg-rgt-cont-cls">
            <div>
                <div class="welcome-mssg-cls slide-in-right">Welcome to LiveChatApp!</div>
                <div class="common-subhead-cls slide-in-right delay-1">ChatSphere is your ultimate real-time chatting platform, designed to make
                    communication faster, smoother, and more engaging. Whether you're chatting with friends, family, or
                    colleagues, we’ve got you covered. Here's what you’ll find:</div>

                <div class="lg-left-common-cls slide-in-right delay-2">
                    <div class="feature-icon"><i class="fa fa-bolt"></i></div>
                    <div><b>Instant Messaging: </b>Send and receive messages in real-time with lightning-fast speed.</div>
                </div>
                <div class="lg-left-common-cls slide-in-right delay-3">
                    <div class="feature-icon"><i class="fa fa-picture-o"></i></div>
                    <div><b>Media Sharing: </b>Easily share images, videos, and documents with your contacts.</div>
                </div>
                <div class="lg-left-common-cls slide-in-right delay-4">
                    <div class="feature-icon"><i class="fa fa-users"></i></div>
                    <div><b>Group Chats: </b>Create and manage group conversations for seamless collaboration.</div>
                </div>
                <div class="lg-left-common-cls slide-in-right delay-5">
                    <div class="feature-icon"><i class="fa fa-shield"></i></div>
                    <div><b>Secure & Private: </b>Enjoy end-to-end encryption to keep your conversations safe and secure.</div>
                </div>
                <div class="lg-left-common-cls slide-in-right delay-6">
                    <div class="feature-icon"><i class="fa fa-smile-o"></i></div>
                    <div><b>User-Friendly Experience: </b>Navigate through the app effortlessly with an intuitive and clean
                    design.</div>
                </div>
                <div class="slide-in-right delay-7 mt-4 font-semibold">Log in now and start connecting instantly with ChatSphere – where conversations come alive!</div>
            </div>
        </div>
    </div>
</div>
@if (isTaosterVisible) {
<app-toaster-message [actionType]="actionType" [mainMssg]="mainMssg" [descriptionMssg]="descriptionMssg"></app-toaster-message>
}
@if (isLoading) {
<app-loader></app-loader>
}