<div class="nf-cont-cls">
    <div class="lg-logo-cls">
        <div class="logo-cls">
            <span>LiveChatApp</span>
        </div>
    </div>
    <div class="nf-mc-cls">
        <div class="header-cls">404</div>
        <div class="err-txt-cls">The page you're looking for isn't here.</div>
        <div style="display: flex;justify-content: center;align-items: center; margin-top: 15px;">
            <div class="pnf-back-btn-cls" (click)="goBack()">Back</div>
        </div>
    </div>
</div>